.main {
    width: 100vw;
    height: 100vh;
    display: inline;
}

.wrap {
    padding: 19px 56px;
}

.container-navigation {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 19px;
}


@media screen and (max-width: 700px){
    .wrap {
        padding: 19px 20px;
    }
}