.container-post {
    width: 100%;
    padding: 12px 0;

    display: flex;
    flex-direction: row;
    align-items: center;

    border-top: 1px solid var(--gray-dark);
}

.container-imagem {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 77px;
    height: 77px;
    min-width: 77px;
    min-height: 77px;
    
    margin-right: 12px;

    background-color: var(--gray);
    border-radius: 8px;
}
.container-imagem img {
    width: 77px;
    height: 77px;
    border-radius: 8px;
    object-fit: cover;
}
.container-imagem svg {
    width: 25px;
    height: 25px;

    color: var(--white);
}

.details-post {
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    overflow: hidden;
}
.details-post > a:first-of-type{
    color: var(--text);
    text-decoration: none;
}
.details-post .title{
    font-size: 1.25rem;
    font-weight: 600;
}
.details-post .sentBy {
    font-size: 1rem;
    font-weight: 400;
    color: var(--gray);
}
.details-post .sentBy > span{
    color: var(--primary);
}
.details-post .domain {
    width: 50%;
    
    font-size: 1rem;
    font-weight: 700;
    color: var(--text);

    text-overflow: ellipsis;
    overflow: hidden;
}
.details-post:hover {
    opacity: 0.8;
    cursor: pointer;
}