.container-toggle {
    position: absolute;
    transform: translate(50%, 50%);
    bottom: 50%;
    right: calc(0% + 70px);
}

.Sun {
    position: absolute;
    z-index: 9;
    transform: translate(50%, 50%);
    bottom: 50%;
    right: calc(50% + 18px);
}

.Moon {
    position: absolute;
    z-index: 9;
    transform: translate(50%, 50%);
    bottom: 50%;
    right: calc(50% - 18px);
    color: var(--white);
}

.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 40px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--gray-dark);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 6px;
    bottom: 5px;
    background-color: var(--white);
    -webkit-transition: .4s;
    transition: .4s;
    z-index: 10;
}

input:checked + .slider {
    background-color: var(--orange);
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(40px);
    -ms-transform: translateX(40px);
    transform: translateX(40px);
}

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}