* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:active,
:hover,
:focus {
    outline: none;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    
    background-color: var(--background);
    font-family: Mulish, sans-serif;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}