:root {
    --primary: #6324C6;
    --gray: #A7B0BE;
    --gray-dark: #4C5667;
    --text: #000;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:active,
:hover,
:focus {
    outline: none;
}

body {
    background-color: var(--white);
    font-family: Mulish, sans-serif;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}